<div class="container">
    <div class="row card-header bg-info"><h2>Le nouvel utilisateur</h2></div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse mail</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td>{{utilisateur.name}}</td>
        <td>{{utilisateur.firstName}}</td>
        <td>{{utilisateur.mail}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  