<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Créneau/Jour</th>
    <th scope="col">Lundi</th>
    <th scope="col">Mardi</th>
    <th scope="col">Mercredi</th>
    <th scope="col">Jeudi</th>
    <th scope="col">Vendredi</th>
    <th scope="col">Samedi</th>
    <th scope="col">Dimanche</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">08h00-10h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">10h00-12h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">12h00-14h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">14h00-16h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">16h00-18h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row">18h00-20h00</th>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3"></label>
      </div>
    </td>
    <td>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2"></label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
